:root {
  --red: #f63c47;
}

@font-face {
  font-family: "Vantage";
  src: url("/fonts/Vantage.ttf") format("truetype");
}
@font-face {
  font-family: "Free Lunch";
  src: url("/fonts/FreeLunch-Regular.woff2");
}

html {
  color: white;
  font-family: 'Roboto Condensed';
  --bg-color: #0b0b0b;
background-image:  linear-gradient(135deg, var(--bg-color) 25%, transparent 25%), linear-gradient(225deg, var(--bg-color) 25%, transparent 25%), linear-gradient(45deg, var(--bg-color) 25%, transparent 25%), linear-gradient(315deg, var(--bg-color) 25%, black 25%);
background-position:  20px 0, 20px 0, 0 0, 0 0;
background-size: 40px 40px;
background-repeat: repeat;
}

body {
  padding: 0;
  margin: 0;
  /* background-color: #f9e930; */
  /* background-color: #0e0e10; */
  background-image: url('/images/Afrobeat Ko Affiche 11 mars 2023 Miramas.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 40%;
  font-size: 1.1rem;

  /* put Fela's image below the cover text shadows */
  z-index: -2;
  position: relative
}

@media(min-width: 120ch) {
  body {
    background-size: 25%;
  }
}

main {
  margin: 0 auto;
}

.cover {
  min-height: calc(100vh - 5vmin);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 1rem;
  padding-bottom: 7rem;
}

@media(min-width: 120ch) {
  .cover {
    justify-content: bottom;
    align-items: center;
  }
}

.tagline {
  font-family: 'Free Lunch';
  font-variant-ligatures: discretionary-ligatures;
  font-size: 4rem;
  /* transform: rotate(-3deg) skew(-4deg, 0); */
  color: #e5212c;
  line-height: 1.1;
  --stroke-width: 2px;
  --stroke-color: white;
  color: #e5212c;
  text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color);
}

.tagline > :nth-child(2) {
  font-size: 3rem;
}

h1 {
  font-family: 'Free Lunch';
  font-variant-ligatures: discretionary-ligatures;
  font-size: clamp(6rem, calc(1rem + 8vw), 30rem);
  color: white;
  position: relative;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0 2rem;
}

@keyframes stopmotion {
  33%     { transform: none; }
  33.001% { transform: var(--state1); }
  66.999% { transform: var(--state1); }
  67%     { transform: var(--state2); }
  99.999% { transform: var(--state2); }
  100%    { transform: none; }
}

.word {
  display: flex;
}

.letter + .letter {
  margin-left: 0;
}

h1 .letter {
  position: relative;
  font-variant-ligatures: discretionary-ligatures;
  display: block;
}

h1 .letter::before,
h1 .letter::after {
  --state1: translate(1px, 1px);
  --state2: translate(0px, -1px);
  --animation-duration: .45s;
  animation: stopmotion var(--animation-duration) linear infinite;
}
h1 .letter:nth-child(2n+1)::before,
h1 .letter:nth-child(2n+1)::after {
  animation-delay: calc(var(--animation-duration) / 3);
}
h1 .letter:nth-child(3n+2)::before,
h1 .letter:nth-child(3n)::after {
  animation-delay: calc(2 * var(--animation-duration) / 3);
}
h1 .letter:nth-child(3n)::before,
h1 .letter:nth-child(4n+1)::after {
  --state1: translate(-1px, 0px) rotate(-1deg);
  --state2: translate(2px, 1px);
}
h1 .letter:nth-child(4n+1)::before,
h1 .letter:nth-child(3n+2)::after {
  --state1: translate(-2px, 1px);
  --state2: translate(0px, 1px) rotate(1deg);
}

h1 .letter::before {
  content: attr(data-text);
  position: absolute;
  top: 0px;
  left: 0;
  --stroke-width: 2px;
  --stroke-color: #e5212c;
  color: #e5212c;
  z-index: -1;
  text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color);
}

h1 .letter::after {
  content: attr(data-text);
  position: absolute;
  top: 7px;
  left: 0;
  --stroke-width: 4px;
  --stroke-color: #e5212c;
  color: #e5212c;
  z-index: -1;
  text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color);
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
}

.about {
  background: black;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 0 1rem;
}

@media (min-width: 120ch) {
  .about > * {
    max-width: 110ch;
    display: flex;
    align-items: center;
  }
}

.about .image {
  max-width: 80ch;
}

p {
  max-width: 80ch;
  margin: 0 auto;
  background: white;
  color: black;
  padding: 2rem;
  box-shadow: 0.5rem 0.5rem 0 #96ba4e;
}
@media (min-width: 120ch) {
  .about .content {
    margin-left: -2rem;
  }
}

.next-concerts {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 0 1rem;
}

@media(min-width: 120ch) {
  .next-concerts > * {
    max-width: 110ch;
    display: flex;
    align-items: center;
  }
}

.next-concerts .content {
  background: white;
  color: black;
  padding: 2rem;
  z-index: 1;
  box-shadow: -0.5rem -0.5rem 0 #f8d93a;
}

@media(min-width: 120ch) {
  .next-concerts .image {
    max-width: 80ch;
    margin-left: -20ch;
  }
  .next-concerts .content {
    box-shadow: -0.5rem 0.5rem 0 #f8d93a;
  }
}

.band-members {
  background: black;
  color: white;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 0 1rem;
}

.band-members .content {
  background: white;
  color: black;
  padding: 2rem;
  width: auto;
  flex-shrink: 0;
  box-shadow: 0.5rem 0.5rem 0 var(--red);
}

@media(min-width: 120ch) {
  .band-members > * {
    max-width: 110ch;
    display: flex;
    align-items: center;
  }
  .band-members .image {
    max-width: 80ch;
  }
  .band-members .content {
    margin-left: -2rem;
  }
}
.band-members .content ul {
  list-style: none;
  padding-left: 0;
}

.contact {
  background-color: var(--bg-color);
  color: white;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 0 1rem;
}

.contact .content {
  background: white;
  color: black;
  padding: 2rem;
  z-index: 1;
  box-shadow: -0.5rem -0.5rem 0 #f8d93a;
}
.contact .content ul {
  list-style: none;
  padding-left: 0;
}

@media(min-width: 120ch) {
  .contact > * {
    max-width: 110ch;
    display: flex;
    align-items: center;
  }
  .contact .content {
    flex-shrink: 0;
    margin-right: -2rem;
    box-shadow: -0.5rem 0.5rem 0 #f8d93a;
  }
  .contact .image {
    max-width: 80ch;
  }
}
